Azure-AI-Agent-Bing/C-Sharp/AI-Agent/.idea 
Azure-AI-Agent-Bing/C-Sharp/AI-Agent/AI-Agent/bin
Azure-AI-Agent-Bing/C-Sharp/AI-Agent/AI-Agent/obj
*/venv
Azure-AI-Agent-Bing/__pycache__/user_functions.cpython-311.pyc
*/.env

